.navbar-item{
    color: white;
    text-decoration: none;
    width: fit-content;
    position: relative;
}


.navbar-item:hover::after,
.active::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.active{
    pointer-events: none;
}
