@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

.text{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.large{
    font-size: 20px;
}

.small{
    font-size: 14px;
}


.very-small{
    font-size: 12px;
}

.bold{
    font-weight: 600;
}

.gray{
    color: gray;
}

.ff2{
    font-family:  'Lora', serif;
}